body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}

.container {
   margin: 0 auto;
   max-width: 600px;
   background-color: #ffffff;
}

.top {
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   position: relative;
}

.image-box {
   width: 100%;
   overflow: hidden;
   position: relative;
}

.image-box img {
   width: 100%;
   height: auto;
   display: block;
}

.circular-image-box {
   width: 180px;
   height: 180px;
   overflow: hidden;
   border-radius: 50%;
   position: absolute;
   top: 65%; 
   left: 10%; 
   z-index: 2;
   transition: all 0.25s ease; 
}

.circular-image-box.enlarged {
   width: 300px; 
   height: 300px; 
}



.name {
   top: 80%;
   left: 60%; 
   transform: translateX(-50%);
   z-index: 2;
   white-space: nowrap;
   position: absolute; 
}

.name h1 {
   margin: 0;
   color: white;
   font-size: 35px;
}
.name.hidden {
   display: none;
}
.position {
   text-align: center;
}

.position h3 {
   margin-top: 10px;
   color: black;
   /* font-size: 18px; */
   margin-left: 20%;
   font-family: 'Poppins', sans-serif;
   font-weight: 100;
}

@media screen and (max-width: 600px) {
   .circular-image-box {
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      position: absolute; 
      top: 84%; 
      left: 25%; 
      transform: translate(-50%, -50%); 
      z-index: 2; 
   }
   
   .name {
      top: 80%; 
      left: 67%; 
      transform: translate(-50%, -50%);
   }

   .name h1 {
      font-size: 25px; 
      margin-top: 20px;
   }

   .position {
      text-align: center;
      
     
   }

   .position h3 {
      font-size: 14px; 
      margin-left: 8rem;
   }
}

.slider-container {
   max-width: 500px;
   height: 300px;
   margin: 100px auto;
   overflow: hidden;
   margin-bottom: 0;
}

.slider {
   display: flex;
   width: 100%;
   height: 80%;
   transition: transform 0.5s ease-in-out;
}

.slide {
   min-width: 100%;
   box-sizing: border-box;
}

.image-wrapper {
   position: relative;
   width: 100%;
   height: 100%;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

.image-wrapper::before {
   content: "";
   position: absolute;
   border-radius: 10px;
   top: 0;
   left: 0;
   width: 120%;
   height: 120%;
   border: 2px solid #ffffff;
   box-sizing: border-box;
   z-index: -1;
}

.slider-dots-container {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.slider-dot {
   width: 10px;
   height: 4px;
   background-color: #cecece;
   border-radius: 70px;
   margin: 0 5px;
   cursor: pointer;
}

.slider-dot.active {
   background-color: #D67629;
}


.about-me {
   max-width: 500px;
   margin: auto;
   margin-top: 70px;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me h1 {
   color: #DF8C2A;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
}

p {
   color: #000000;
   line-height: 1.6;
   font-family: 'Poppins', sans-serif;
   font-weight: 200;
}

.buttons{
   margin-top: 2.5rem;
   display: flex;
   flex-direction: row;
}

.myButton {
   box-shadow: 0px 10px 14px -7px #D67629;
   background-color: #D67629;
   border-radius: 10px;
   display: inline-block;
   cursor: pointer;
   color: #ffffff;
   font-family: Arial;
   font-size: 15px;
   font-weight: bold;
   padding: 15px 5%; 
   text-decoration: none;
   text-shadow: 0px 1px 0px #D67629;
   margin-top: 5%; 
   margin-left: auto;
   margin-right: auto;
}

.myButton:hover {
   background: linear-gradient(to bottom, #D67629 5%, #D67629 100%);
   background-color: #D67629;
}


.bottom {
   margin-top: 10%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.rectangle {
   width: 131px;
   height: 135px;
   overflow: hidden;
   position: relative;
   background-color: #D67629;
   border-radius: 42px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.rectangle img {
   width: 60%;
   height: 60%;
   object-fit: cover;
}

.text-outside {
   font-size: 26px;
   color: #D67629;
   text-align: center;
   font-weight: 600;
   top: 0px;
}

.contact {
   margin-left: 20;
   margin-top: 0rem;
   /* background-color: red; */
  
}
.touch{
   margin-bottom: 3rem;
}
.touch h1 {
   color: #DF8C2A;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   margin-left: 5.5rem;
   margin-top: 0;
   
}
.media h1 {
   color: #DF8C2A;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   margin-left: 5.5rem;
   /* margin-top: 100px; */
   
}


.icon-container {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   background-color: #ffffff;
   padding: 10px;
   border: 2px solid #515050;
   border-radius: 10px;
   width: 70%;
   margin: 20px auto ;
}

.icon-container.outlined {
   border: 2px dashed #D67629;
}

.icon-container i {
   color: #000000;
   /* margin-right: 10px; */
   margin-left: 30px;
}

.icon-container p {
   margin: 0;
   color: #000000;
   margin-left: 20px;
}

.icon-container1 {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   background-color: #ffffff;
   padding: 10px;
   border: 2px solid #515050;
   border-radius: 10px;
   width: 70%;
   margin: 20px auto 0;
}

/* .icon-container1.outlined {
   border: 2px dashed #D67629;
} */

.icon-container1 i {
   color: #000000;
   /* margin-right: 10px; */
   margin-left: 30px;
}

.icon-container1 a {
   margin: 0;
   color: #000000;
   margin-left: 20px;
   text-decoration: none;
   cursor: pointer;
}
.icon-container1 p {
   margin: 0;
   color: #000000;
   margin-left: 20px;
}

@media screen and (max-width: 600px) {
   .slider-container {
      max-width: 100%; 
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 50px;
   }

   .slide {
      min-width: 100%; 
   }
}


@media screen and (max-width: 600px) {
   .buttons{
      width: 100%;
      display: flex;
      flex-direction: row; 
   }
   .myButton {
     
      margin-left: 2.5rem; 

   }
}
@media screen and (max-width: 360px) {
   .myButton {
      font-size: 12px;
   }
}


@media screen and (max-width: 360px) {
   .circular-image-box {
      width: 120px;
      height: 120px;
      /* top: 85%; 
      left: 25%;  */
      /* transform: translate(-50%, -50%);  */
   }

   .name {
      top: 80%; 
      left: 70%; 
      transform: translate(-50%, -50%);
   }

   .name h1 {
      font-size: 20px;
      margin-top: 10px;
   }

   .position h3 {
      font-size: 14px;
      margin-left: 8rem;
   }

   
}